/**************
Common style
**************/
* {
margin: 0;
}

body {
    background-color: rgb(237, 237, 237);
}

.container {
    padding: 0 15px;
}

/**************
Header style
**************/
header {
    background-color: white;
}

img {
    height: 40px;
}

/**************
Main style
**************/
main {
    background-color: white;
    margin: 30px;
}

main div {
    padding: 10px 50px;
}

.buttons button {
    display: inline;
    background-color: #2fc4ff;   
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 5%;
}

#white_color {
    background-color: white;
}